[Unit]
Description=Gunicorn instance to serve Attendance
After=network.target

[Service]
User=username
Group=www-data
WorkingDirectory=/home/username/attendance
Environment="PATH=/home/username/attendance/venv/bin"
Environment="PERMANENT_SESSION_LIFETIME=300"
ExecStart=/home/username/attendance/venv/bin/gunicorn --workers 3 --bind unix:/tmp/attendance.sock "attendance:create_app()"

[Install]
WantedBy=multi-user.target