{% extends 'auth/base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="form-style-2">
    <form method="post">
      <label for="username">
        <span>Username</span>
        <input name="username" id="username" class="input-field" required>
      </label>
      <label for="password">
        <span>Password</span>
        <input type="password" name="password" id="password" class="input-field" required>
      </label>
      <label>
        <span></span>
        <input type="submit" value="Log In">
      </label>
    </form>
  </div>
{% endblock %}