{% extends "base.html" %}

{% block content %}
    <h1>Query Attendnace Record</h1>
    
    <div class="navbar2">
            <a href="{{ url_for('forms.attendance_query', query_type='date') }}" class="navbar2">
                By Date
            </a>
            &ensp;
            <a href="{{ url_for('forms.attendance_query', query_type='username') }}" class="navbar2">
                By Username
            </a>
            &ensp;
            <a href="{{ url_for('forms.attendance_query', query_type='month') }}" class="navbar2">
                By Month
            </a>
    </div>
    
    
    {% if query_type %}
        <div class="form-style-2">
         
            {% if query_type == 'date' %}
                <div class="form-style-2-heading">By Date</div>
                {% if query_for == 'All' %}
                    <form method="post" action="{{ url_for('attendance.query_all', query_type='date') }}">
                {% elif query_for == 'Team' %}
                    <form method="post" action="{{ url_for('attendance.query_team', query_type='date') }}">
                {% endif %}
                    {{ form.csrf_token }}
                        <label for="date">
                            <span>{{ form.date.label }}</span>
                                {{ form.date }}
                        </label>
                        <label>
                            <span> </span>
                            <input type="submit" value="Query" /></label>
                        </label>
            {% endif %}

            {% if query_type == 'username' %}
                <div class="form-style-2-heading">By Username</div>
                {% if query_for == 'All' %}
                    <form method="post" action="{{ url_for('attendance.query_all', query_type='username') }}">
                {% elif query_for == 'Team' %}
                    <form method="post" action="{{ url_for('attendance.query_team', query_type='username') }}">
                {% endif %}
                    {{ form.csrf_token }}
                        <label for="username">
                            <span>{{ form.username.label }}</span>
                                {{ form.username }}
                        </label>
                        <label for="month">
                            <span>{{ form.month.label }}</span>
                                {{ form.month }}
                        </label>
                        <label>
                            <span> </span>
                            <input type="submit" value="Query" /></label>
                        </label> 
            {% endif %}
    
    
            {% if query_type == 'month' %}
                <div class="form-style-2-heading">By Month</div>
                {% if query_for == 'All' %}
                    <form method="post" action="{{ url_for('attendance.query_all', query_type='month') }}">
                {% elif query_for == 'Team' %}
                    <form method="post" action="{{ url_for('attendance.query_team', query_type='month') }}">
                {% endif %}
                    {{ form.csrf_token }}
                        <label for="month">
                            <span>{{ form.month.label }}</span>
                                {{ form.month }}
                        </label>
                        <label for="year">
                            <span>{{ form.year.label }}</span>
                                {{ form.year }}
                        </label>
                        <label>
                            <span> </span>
                            <input type="submit" value="Query" /></label>
                        </label> 
            {% endif %}
    {% endif %}

    {% endblock %}