{% extends "base.html" %}

{% block content %}

    {% if type == 'leave_application_status' %}
        <div class="form-style-2-heading">Leave application status</div>
        <table class="query-result">
            <th>Name</th>
            <th>Type</th>
            <th>Star Date</th>
            <th>Duration(days)</th>
            <th>Status</th>
            
            {% if data %}
                <th>Action</th>
            {% endif %}

            {% for application in applications %}
                <tr>
                    {% if application %}
                        <td>{{ application['employee']['fullname'] }}</td>
                        <td><a href="{{ url_for('leave.details', application_id=application['id']) }}"> {{ application['type'] }}</a></td>
                        <td>{{ application['start_date'] }}</td>
                        <td>{{ application['duration'] }}</td>
                        <td>{{ application['status'] }}</td>
                        {% if data == 'team' %}
                            <td>
                                {% if application['status'] == "Approval Pending" %}
                                    <a href="{{ url_for('leave.approval_team', application_id=application['id']) }}">Approve</a>
                                {% endif %}
                                <a href="{{ url_for('leave.cancel_team', application_id=application['id']) }}">Cancel</a>
                            </td>
                        {% endif %}
                        {% if data == 'department' %}
                            <td>
                                {% if application['status'] == "Approval Pending" %}
                                    <a href="{{ url_for('leave.approval_department', application_id=application['id']) }}">Approve</a>
                                {% endif %}
                                    <a href="{{ url_for('leave.cancel_department', application_id=application['id']) }}">Cancel</a>
                            </td>
                        {% endif %}
                        {% if data == 'self' %}
                            {% if application['status'] == "Approval Pending" %}
                                <td><a href="{{ url_for('leave.cancel', application_id=application['id']) }}">Cancel</a></td> 
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
            
    {% endif %}


    {% if action == 'employee_search' %}
        <div class="employee-search">
            <form method="post" action="{{ url_for('employee.search') }}">
                {{ form.csrf_token }}
                <div class="form-style-2-heading">Search Employee Record</div>
                    <label for="string">
                        <span>{{ form.string.label }}</span>
                                {{ form.string }}
                    </label>
                    <label for="type">
                        <span>{{ form.type.label }}</span>
                            {{ form.type }}
                    </label>
                <input type='submit' value='Search'>
            </form> 
        </div>
        
            <table class="query-result">
                <th>User Name</th>
                <th>Full Name</th>
                <th>Department</th>
                {% for employee in employees %}
                    <tr>
                        {% if employee %}
                            <td><a href="{{ url_for('employee.details', id=employee['id']) }}">{{ employee['username'] }}</a></td>
                            <td>{{ employee['fullname'] }}</td>        
                            <td>{{ employee['department'] }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        
    {% endif %}

    {#-- Leave Summary --#}
    {% if data_type == 'leave_summary' %}
        <div class="form-style-2-heading">Available Leave</div>
        <table class="query-result">
            <th>Name</th>
            <th>&nbsp</th>
            <th>Casual</th>
            <th>&nbsp</th>
            <th>Medical</th>
            <th>&nbsp</th>
            <th>Earned</th>
            <th>&nbsp</th>
        
        {% if leaves %}
            {% for leave in leaves %}
                <tr>
                    <td>{{ leave['employee']['fullname'] }}</td>
                    <td></td>
                    <td>{{ leave['casual'] }}</td>
                    <td></td>
                    <td>{{ leave['medical'] }}</td>
                    <td></td>
                    <td>{{ leave['earned'] }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        {% endif %}
    
    {% endif %}
    
    {#-- Leave Details --#}
    {% if data_type == 'leave_details' %}
        <div class="form-style-2-heading">Leave Details</div>
        <div class="data">
            <table class="data">
                {% if details %}
                    <tr>
                        <td class="data-left">Name</td>
                        <td class="data-right">{{ details['employee']['fullname'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left">Designation</td>
                        <td class="data-right">{{ details['employee']['designation'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left">Type</td>
                        <td class="data-right">{{ details['type'] }}</td>
                    </tr> 
                    <tr>
                        <td class="data-left">Start date</td>
                        <td class="data-right">{{ details['start_date'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left">End date</td>
                        <td class="data-right">{{ details['end_date'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left"> Duration</td>
                        <td class="data-right">{{ details['duration'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left"> Remark</td>
                        <td class="data-right">{{ details['remark'] }}</td>
                    </tr>
                    
                        {% if details['file_url'] %}
                            <tr>                            
                                <td class="data-left"> File</td>
                                {% set files = details['file_url'].split(';') %}
                                    {% for file in files %}
                                        <td class="data-right"><a href={{ url_for('leave.files', name=file) }}>File {{ loop.index }}</td>
                                    {% endfor %}
                            </tr>    
                        {% endif %}
                    
                    <tr>
                        <td class="data-left">Submission date</td>
                        <td class="data-right">{{ details['submission_date'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left">Approval date</td>
                        <td class="data-right">{{ details['approval_date'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left">Status</td>
                        <td class="data-right">{{ details['status'] }}</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    {% endif %}

    {#-- Employee Details --#}
    {% if type == 'employee_details' %}
        <div class="form-style-2-heading">Employee Details</div>
        <div class="data">
            <table class="data">
            {% if employee %} 
                    <tr>
                        <td class="data-left"> ID</td>
                        <td class="data-right">{{ employee['id'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left">Username</td>
                        <td class="data-right">{{ employee['username'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left">Full Name</td>
                        <td class="data-right">{{ employee['fullname'] }}</td> 
                    </tr>
                    <tr>
                        <td class="data-left">Phone</td>
                        <td class="data-right">{{ employee['phone'] }}</td> 
                    </tr>
                    <tr>
                        <td class="data-left">Email</td>
                        <td class="data-right">{{ employee['email'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left">Department</td>
                        <td class="data-right">{{ employee['department']}}</td> 
                    </tr>
                    <tr>
                        <td class="data-left">Designation</td>
                        <td class="data-right">{{ employee['designation']}}</td> 
                    </tr>
                    <tr>
                        <td class="data-left">Role</td>
                        <td class="data-right">{{ employee['role'] }}</td> 
                    </tr>
                    <tr>
                        <td class="data-left">Access</td>
                        <td class="data-right">{{ employee['access']}}</td> 
                    </tr>
                    
                    {% for team in employee.teams %}
                        <tr>
                            <td class="data-left">Team {{ loop.index }}</td>
                            <td class="data-right">{{ team['name'] }}</td> 
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
    {% endif %}

    {#-- Attendance application details --#}
    {% if type == 'attn_appl_details' %}
        <div class="form-style-2-heading">Attendance Application Details</div>
        {% if details %}
            <div class="data">
                <table class="data">
                    <tr>
                        <td class="data-left">Name</td>
                        <td class="data-right">{{ details['employee']['fullname'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left">Designation</td>
                        <td class="data-right">{{ details['employee']['designation'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left">Type</td>
                        <td class="data-right">{{ details['type'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left">Start date</td>
                        <td class="data-right">{{ details['start_date'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left">End date</td>
                        <td class="data-right">{{ details['end_date'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left">Duration</td>
                        <td class="data-right">{{ details['duration'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left">Remark</td>
                        <td class="data-right">{{ details['remark'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left">Submission date</td>
                        <td class="data-right">{{ details['submission_date'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left">Approval date</td>
                        <td class="data-right">{{ details['approval_date'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left">Status</td>
                        <td class="data-right">{{ details['status'] }}</td>
                    </tr>

                </table>
            </div>
        {% endif %}
    {% endif %}
    
    {#-- Attendance data summary--#}
    {% if type == 'attn_summary' %}
        <div class="form-style-2-heading">Attendance Summary</div>
        <span><b>Month:</b> {{ form.month.data }}<br>
        <table class="query-result">
            <th>Full Name</th>
            <th>Absent</th>
            <th>Late</th>
            <th>Early</th>
            <th>Absent(Late,Early)</th>
            <th>Leave deducted</th>
            <th>Absent(Total)</th>
            {% for employee in summary %}
                <tr>
                    <td>{{ employee['fullname'] }}</td>
                    <td>{{ employee['absent'] }}</td>
                    <td>{{ employee['late'] }}</td>
                    <td>{{ employee['early'] }}</td>
                    <td>{{ employee['extra_absent'] }}</td>
                    <td>{{ employee['leave_deducted'] }}</td>
                    {% if employee['extra_absent'] %}
                        <td> {{ employee['absent'] + employee['extra_absent']}} </td>
                    {% else %} 
                        <td> {{ employee['absent'] }} </td>
                    {% endif %}   
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if type == 'attn_details_self' %}
        <div class="form-style-2-heading">Attendance Details</div>
        <table class="query-result">
            <th>Date</th>
            <th>In Time</th>
            <th>Out Time</th>
            <th>Approved</th>
            {% for row in attendance %}
                <tr>
                    <td>{{ row['date'] }}</td>
                    <td>{{ row['in_time'] }}</td>
                    <td>{{ row['out_time'] }}</td>
                    <td>{{ row['approved'] }}</td> 
                </tr>
             {% endfor %}
        </table>
    {% endif %}

    {% if type == 'attn_summary_self' %}
        <div class="form-style-2-heading">Attendance Summary</div>
            <table class="data">
            {% if summary %} 
                <tr>
                    <td class="data-left">Absent</td>
                    <td class="data-right">{{ summary['absent'] }}</td>
                </tr>
                <tr>
                    <td class="data-left"> Late</td>
                    <td class="data-right">{{ summary['late'] }}</td>
                </tr>
                <tr>
                    <td class="data-left">Early out</td>
                    <td class="data-right">{{ summary['early'] }}</td> 
                </tr>
                <tr>
                    <td class="data-left">Absent(Late,Early)</td>
                    <td class="data-right">{{ summary['extra_absent'] }}</td> 
                </tr>
                <tr>
                    <td class="data-left">Leave deducted</td>
                    <td class="data-right">{{ summary['leave_deducted'] }}</td> 
                </tr>
            {% endif %}
            </table>
    {% endif %}

    {% if type == 'attn_details' %}
        <div class="form-style-2-heading">Attendance Status</div>
        {% if query_type == 'username' %}
           <p>Username: {{ form.username.data }}<br>
            Month: {{ form.month.data }}</p>
        {% endif %}
        <table class="query-result">
            {% if query_type == 'date' %}
                <th>Name</th>
                <th>Team</th>
            {% endif %}
            <th>Date</th>
            <th>In Time</th>
            <th>Out Time</th>
            <th>Approved</th>
            {% for row in attendance %}
                <tr>
                    {% if query_type == 'date' %}
                        <td>{{ row['fullname'] }}</td>
                        <td>{{ row['name'] }}</td>
                    {% endif %}
                    <td>{{ row['date'] }}</td>
                    <td>{{ row['in_time'] }}</td>
                    <td>{{ row['out_time'] }}</td>
                    <td>{{ row['approved'] }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if type == 'attn_appl_status' %}
        <div class="form-style-2-heading">Attendance Application Status</div>
        <table class="query-result">
            <th>Name</th>
            <th>Type</th>
            <th>Star Date</th>
            <th>Duration(days)</th>
            <th>Status</th>
            
            {% if user!='all' %}
                <th>Action</th>
            {% endif %}

            {% for application in applications %}
                <tr>
                    {% if application %}
                        <td>{{ application['employee']['fullname'] }}</td>
                        <td><a href="{{ url_for('attendance.application_details', application_id=application['id']) }}">{{ application['type'] }}</a></td>
                        <td>{{ application['start_date'] }}</td>
                        <td>{{ application['duration'] }}</td>
                        <td>{{ application['status'] }}</td>
                            {% if data == 'team' %}
                                <td>
                                    {% if application['status'] == "Approval Pending" %}
                                        <a href="{{ url_for('attendance.approval_team', application_id=application['id'], type=application['type']) }}">Approve</a>
                                    {% endif %}
                                        <a href="{{ url_for('attendance.cancel_team', application_id=application['id']) }}">Cancel</a>
                                </td> 
                            {% elif data == 'department' %}
                                <td>
                                    {% if application['status'] == "Approval Pending" %}
                                        <a href="{{ url_for('attendance.approval_department', application_id=application['id'], type=application['type']) }}">Approve</a>
                                    {% endif %}
                                        <a href="{{ url_for('attendance.cancel_department', application_id=application['id']) }}">Cancel</a>
                                </td>
                            {% elif data == 'self' %}
                                {% if application['status'] == "Approval Pending" %}
                                    <td><a href="{{ url_for('attendance.cancel', id=application['id']) }}">Cancel</a></td>
                                {% endif %}
                            {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
            
    {% endif %}


    {% if type == 'holidays' %}
        <div class="form-style-2-heading">Attendance Application Status</div>
            <table class="query-result">
                <th>Id</th>
                <th>Date</th>
                <th>Name</th>
                <th>Action</th>
                {% for holiday in holidays %}
                    <tr>
                        <td>{{ holiday['id'] }}</td>
                        <td>{{ holiday['date'] }}</td>
                        <td>{{ holiday['name'] }}</td>
                        <td><a href={{ url_for('employee.holidays', action='delete', holiday_name=holiday['name']) }}>Delete</a></td>
                    </tr>
                {% endfor %}
                <tr><td><a href={{ url_for('employee.holidays', action='add') }}>Add</a></td></tr>
            </table>
        </div>
    {% endif %}

{% endblock %}