{% extends "base.html" %}

{% block content %}

    {% if type == 'application_search' %}
        <div class="search-form-container">
            <div class="search-form-heading">Applications</div>
            {% if application_for=='self' %}
                <form method="post" action="{{ url_for('application.search', application_for='self') }}">
            {% endif %} 
            {% if application_for=='team' %}
                <form method="post" action="{{ url_for('application.search', application_for='team') }}">
            {% endif %}
            {% if application_for=='department' %}
                <form method="post" action="{{ url_for('application.search', application_for='department') }}">
            {% endif %}
            {% if application_for=='all' %}
                <form method="post" action="{{ url_for('application.search', application_for='all') }}">
            {% endif %} 

            {{ form.csrf_token }}
            <div class="search-form-grid">
                {% if application_for != 'self' %}
                    <div class="search-form-field">
                        {{ form.name.label }}
                        {{ form.name }}
                    </div>
                {% endif %}
                <div class="search-form-field">
                    {{ form.type.label }}
                    {{ form.type }}
                </div>
                <div class="search-form-field">
                    {{ form.month.label }}
                    {{ form.month }}
                </div>
                <div class="search-form-field">
                    {{ form.year.label }}
                    {{ form.year }}
                </div>
                <div class="search-form-field">
                    <label>&nbsp;</label>
                    <input type="submit" value="Search" class="search-form-button" />
                </div>
            </div>
            </form>
        </div>
        <table class="query-result">
            <th>Id</th>
            <th>Name</th>
            <th>Team</th>
            <th>Type</th>
            <th>Star Date</th>
            <th>Duration(days)</th>
            <th>Status</th>
            
            {% if application_for != 'all' %}
                <th>Action</th>
            {% endif %}

            {% for application in applications %}
                <tr>
                    {% if application %}
                        <td>{{ application['id'] }}</td>
                        <td>{{ application['fullname'] }}</td>
                        <td>{{ application['team'] }}</td>
                        <td><a href="{{ url_for('application.details', application_id=application['id']) }}"> {{ application['type'] }}</a></td>
                        <td>{{ application['start_date'] }}</td>
                        <td>{{ application['duration'] }}</td>
                        <td>{{ application['status'] }}</td>
                        {% if application_for == 'team' or application_for == 'department' %}
                            <td>
                                {% if application['status'] == "Approval Pending" %}
                                    <a href="{{ url_for('application.process', action='approve', application_id=application['id']) }}">Approve</a>
                                {% endif %}
                                    <a href="{{ url_for('application.process', action='cancel', application_id=application['id']) }}">Cancel</a>
                            </td>
                        {% endif %}
                        {% if application_for == 'self' %}
                            {% if application['status'] == "Approval Pending" %}
                                <td><a href="{{ url_for('application.process', action='cancel', application_id=application['id']) }}">Cancel</a></td> 
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
            
    {% endif %}


    {% if action == 'employee_search' %}
        <div class="search-form-container">
            <form method="post" action="{{ url_for('employee.search') }}">
                {{ form.csrf_token }}
                <div class="search-form-heading">Search Employee Record</div>
                <div class="search-form-grid">
                    <div class="search-form-field">
                        {{ form.string.label }}
                        {{ form.string }}
                    </div>
                    <div class="search-form-field">
                        {{ form.type.label }}
                        {{ form.type }}
                    </div>
                    <div class="search-form-field">
                        <label>&nbsp;</label>
                        <input type="submit" value="Search" class="search-form-button" />
                    </div>
                </div>
            </form> 
        </div>
        
            <table class="query-result">
                <th>ID</th>
                <th>User Name</th>
                <th>Full Name</th>
                <th>Department</th>
                <th>Team</th>
                <th>Role</th>
                {% for employee in employees %}
                    <tr>
                        {% if employee %}
                            <td><a href="{{ url_for('employee.details', id=employee['id']) }}">{{ employee['id'] }}</a></td>
                            <td><a href="{{ url_for('employee.details', id=employee['id']) }}">{{ employee['username'] }}</a></td>
                            <td>{{ employee['fullname'] }}</td>        
                            <td>{{ employee['department'] }}</td>
                            <td>{{ employee['teams'] }}</td>
                            <td>{{ employee['role'] }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        
    {% endif %}

    {#-- Leave Summary --#}
    {% if data_type == 'leave_summary' %}
        <div class="form-style-2-heading">Available Leave</div>
            <form method="post" action="{{ url_for('leave.summary', type=type) }}">
                {{ form.csrf_token }}
                <label>
                    <span>{{ form.fiscal_year_start_date.label }}</span>
                        {{ form.fiscal_year_start_date }}
                </label>
                <label>
                    <span>{{ form.fiscal_year_end_date.label }} </span>
                        {{ form.fiscal_year_end_date }}
                </label>
                <label>
                    <span> </span>
                    <input type="submit" value="Submit" /></label>
                </label>
            </form>
        <table class="query-result">
            <th>Name</th>
            <th>&nbsp</th>
            <th>Joining date</th>
            <th>&nbsp</th>
            <th>Department</th>
            <th>&nbsp</th>
            <th>Casual</th>
            <th>&nbsp</th>
            <th>Medical</th>
            <th>&nbsp</th>
            <th>Earned</th>
            <th>&nbsp</th>
        
        {% if leave_summary %}
            {% for leave in leave_summary %}
                <tr>
                    <td>{{ leave['employee']['fullname'] }}</td>
                    <td></td>
                    <td>{{ leave['employee']['joining_date'] }}</td>
                    <td></td>
                    <td>{{ leave['employee']['department'] }}</td>
                    <td></td>
                    <td>{{ leave['casual'] }}</td>
                    <td></td>
                    <td>{{ leave['medical'] }}</td>
                    <td></td>
                    <td>{{ leave['earned'] }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        {% endif %}
    
    {% endif %}
    
    {#-- Leave Details --#}
    {% if data_type == 'application_details' %}
        <div class="form-style-2-heading">Application Details</div>
        <div class="data">
            <table class="data">
                {% if application %}
                    <tr>
                        <td class="data-left">Id</td>
                        <td class="data-right">{{ application['id'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left">Name</td>
                        <td class="data-right">{{ application['employee']['fullname'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left">Designation</td>
                        <td class="data-right">{{ application['employee']['designation'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left">Type</td>
                        <td class="data-right">{{ application['type'] }}</td>
                    </tr> 
                    <tr>
                        <td class="data-left">Start date</td>
                        <td class="data-right">{{ application['start_date'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left">End date</td>
                        <td class="data-right">{{ application['end_date'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left"> Duration</td>
                        <td class="data-right">{{ application['duration'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left"> Remark</td>
                        <td class="data-right">{{ application['remark'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left"> Holiday duty type</td>
                        <td class="data-right">{{ application['holiday_duty_type'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left"> Holiday duty start date</td>
                        <td class="data-right">{{ application['holiday_duty_start_date'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left"> Holiday duty end date</td>
                        <td class="data-right">{{ application['holiday_duty_end_date'] }}</td>
                    </tr>
                        {% if application['file_url'] %}
                            <tr>                            
                                <td class="data-left"> File</td>
                                {% set files = application['file_url'].split(';') %}
                                    {% for file in files %}
                                        <td class="data-right"><a href={{ url_for('application.files', name=file) }}>File {{ loop.index }}</td>
                                    {% endfor %}
                            </tr>    
                        {% endif %}
                    
                    <tr>
                        <td class="data-left">Submission date</td>
                        <td class="data-right">{{ application['submission_date'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left">Approval date</td>
                        <td class="data-right">{{ application['approval_date'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left">Status</td>
                        <td class="data-right">{{ application['status'] }}</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    {% endif %}

    {#-- Employee Details --#}
    {% if type == 'employee_details' %}
        <div class="form-style-2-heading">Employee Details</div>
        <div class="data">
            <table class="data">
            {% if employee %} 
                    <tr>
                        <td class="data-left"> ID</td>
                        <td class="data-right">{{ employee['id'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left">Username</td>
                        <td class="data-right">{{ employee['username'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left">Full Name</td>
                        <td class="data-right">{{ employee['fullname'] }}</td> 
                    </tr>
                    <tr>
                        <td class="data-left">Phone</td>
                        <td class="data-right">{{ employee['phone'] }}</td> 
                    </tr>
                    <tr>
                        <td class="data-left">Email</td>
                        <td class="data-right">{{ employee['email'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left">Joining Date</td>
                        <td class="data-right">{{ employee['joining_date'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left">Department</td>
                        <td class="data-right">{{ employee['department']}}</td> 
                    </tr>
                    <tr>
                        <td class="data-left">Designation</td>
                        <td class="data-right">{{ employee['designation']}}</td> 
                    </tr>
                    <tr>
                        <td class="data-left">Role</td>
                        <td class="data-right">{{ employee['role'] }}</td> 
                    </tr>
                    <tr>
                        <td class="data-left">Access</td>
                        <td class="data-right">{{ employee['access']}}</td> 
                    </tr>
                    
                    {% for team in employee.teams %}
                        <tr>
                            <td class="data-left">Team {{ loop.index }}</td>
                            <td class="data-right">{{ team['name'] }}</td> 
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
    {% endif %}

    {#-- Attendance application details --#}
    {% if type == 'attn_appl_details' %}
        <div class="form-style-2-heading">Attendance Application Details</div>
        {% if details %}
            <div class="data">
                <table class="data">
                    <tr>
                        <td class="data-left">Name</td>
                        <td class="data-right">{{ details['employee']['fullname'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left">Designation</td>
                        <td class="data-right">{{ details['employee']['designation'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left">Type</td>
                        <td class="data-right">{{ details['type'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left">Start date</td>
                        <td class="data-right">{{ details['start_date'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left">End date</td>
                        <td class="data-right">{{ details['end_date'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left">Duration</td>
                        <td class="data-right">{{ details['duration'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left">Remark</td>
                        <td class="data-right">{{ details['remark'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left">Submission date</td>
                        <td class="data-right">{{ details['submission_date'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left">Approval date</td>
                        <td class="data-right">{{ details['approval_date'] }}</td>
                    </tr>
                    <tr>
                        <td class="data-left">Status</td>
                        <td class="data-right">{{ details['status'] }}</td>
                    </tr>

                </table>
            </div>
        {% endif %}
    {% endif %}
    
    {#-- Attendance data summary--#}
    {% if type == 'attn_summary' %}
        <div class="form-style-2-heading">Attendance Summary</div>
        <span><b>Month:</b> {{ form.month.data }}<br>
        <table class="query-result">
            <th>Full Name</th>
            <th>Absent</th>
            <th>Late</th>
            <th>Early</th>
            <th>Absent(Late,Early)</th>
            <th>Leave deducted</th>
            <th>Absent(Total)</th>
            {% for employee in summary %}
                <tr>
                    <td>{{ employee['fullname'] }}</td>
                    <td>{{ employee['absent'] }}</td>
                    <td>{{ employee['late'] }}</td>
                    <td>{{ employee['early'] }}</td>
                    <td>{{ employee['extra_absent'] }}</td>
                    <td>{{ employee['leave_deducted'] }}</td>
                    {% if employee['extra_absent'] %}
                        <td> {{ employee['absent'] + employee['extra_absent']}} </td>
                    {% else %} 
                        <td> {{ employee['absent'] }} </td>
                    {% endif %}   
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if type == 'attn_details_self' %}
        <div class="form-style-2-heading">Attendance Details</div>
        <table class="query-result">
            <th>Date</th>
            <th>In Time</th>
            <th>Out Time</th>
            <th>Application</th>
            <th>Holiday</th>
            <th>Weekend</th>
            {% for attendance in attendances %}
                <tr>
                    <td>{{ attendance[0] }}</td>
                    <td>{{ attendance[1] }}</td>
                    <td>{{ attendance[2] }}</td>
                    {% if attendance[3] is none %}
                        <td></td>
                    {% else %}
                        <td><a href={{ url_for('leave.details', application_id=attendance[3]) }}>{{ attendance[6] }}</a></td>
                    {% endif %}
                    
                    {% if attendance[4] is none %}
                        <td></td>
                    {% else %}
                        <td>{{ attendance[7] }}</td>
                    {% endif %}
                    
                    {% if attendance[5] is none %}
                        <td></td>
                    {% elif attendance[5] == 7 %}
                        <td>Friday</td>
                    {% elif attendance[5] == 1 %}   
                        <td>Saturday</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if type == 'attn_summary_self' %}
        <div class="form-style-2-heading">Attendance Summary</div>
            <table class="data">
            {% if summary %} 
                <tr>
                    <td class="data-left">Absent</td>
                    <td class="data-right">{{ summary['absent'] }}</td>
                </tr>
                <tr>
                    <td class="data-left"> Late</td>
                    <td class="data-right">{{ summary['late'] }}</td>
                </tr>
                <tr>
                    <td class="data-left">Early out</td>
                    <td class="data-right">{{ summary['early'] }}</td> 
                </tr>
                <tr>
                    <td class="data-left">Absent(Late,Early)</td>
                    <td class="data-right">{{ summary['extra_absent'] }}</td> 
                </tr>
                <tr>
                    <td class="data-left">Leave deducted</td>
                    <td class="data-right">{{ summary['leave_deducted'] }}</td> 
                </tr>
            {% endif %}
            </table>
    {% endif %}

    {% if type == 'attn_details' %}
        <div class="form-style-2-heading">Attendance Status</div>
        {% if query_type == 'username' %}
           <p>Username: {{ form.username.data }}<br>
            Month: {{ form.month.data }}</p>
        {% endif %}
        <table class="query-result">
            {% if query_type == 'date' %}
                <th>Name</th>
                <th>Team</th>
            {% endif %}
            <th>Date</th>
            <th>In Time</th>
            <th>Out Time</th>
            <th>Application</th>
            <th>Holiday</th>
            <th>Weekend</th>
            {% for attendance in attendances %}
                <tr>
                    {% if query_type == 'date' %}
                        <td>{{ attendance['fullname'] }}</td>
                        <td>{{ attendance['name'] }}</td>
                    {% endif %}
                    <td>{{ attendance[0] }}</td>
                    <td>{{ attendance[1] }}</td>
                    <td>{{ attendance[2] }}</td>
                    {% if attendance[3] is none %}
                        <td></td>
                    {% else %}
                        <td><a href={{ url_for('leave.details', application_id=attendance[3]) }}>{{ attendance[6] }}</a></td>
                    {% endif %}
                    
                    {% if attendance[4] is none %}
                        <td></td>
                    {% else %}
                        <td>{{ attendance[7] }}</td>
                    {% endif %}
                    
                    {% if attendance[5] is none %}
                        <td></td>
                    {% elif attendance[5] == 7 %}
                        <td>Friday</td>
                    {% elif attendance[5] == 1 %}   
                        <td>Saturday</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if type == 'attendance_application_status' %}
        <div class="form-style-2-heading">Attendance Application Status</div>
        <table class="query-result">
            <th>Name</th>
            <th>Type</th>
            <th>Star Date</th>
            <th>Duration(days)</th>
            <th>Status</th>
            
            {% if status_for!='all' %}
                <th>Action</th>
            {% endif %}

            {% for application in applications %}
                <tr>
                    {% if application %}
                        <td>{{ application['employee']['fullname'] }}</td>
                        <td><a href="{{ url_for('attendance.application_details', application_id=application['id']) }}">{{ application['type'] }}</a></td>
                        <td>{{ application['start_date'] }}</td>
                        <td>{{ application['duration'] }}</td>
                        <td>{{ application['status'] }}</td>
                        {% if application_for == 'self' %}
                            {% if application['status'] == "Approval Pending" %}
                                <td><a href="{{ url_for('attendance.cancel_application', application_for=application_for, application_id=application['id']) }}">Cancel</a></td>
                            {% endif %}
                        {% endif %}
                        {% if application_for == 'team' %}
                            <td>
                                {% if application['status'] == "Approval Pending" %}
                                    <a href="{{ url_for('attendance.approval', application_id=application['id'], type=application['type']) }}">Approve</a>
                                {% endif %}
                                    <a href="{{ url_for('attendance.cancel_application', application_for=application_for, application_id=application['id']) }}">Cancel</a>
                            </td> 
                        {% endif %}                        
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
            
    {% endif %}


    {% if type == 'holidays' %}
        <div class="form-style-2-heading">Holidays</div>
            <table class="query-result">
                <th>Id</th>
                <th>Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Duration(days)</th>
                <th>Action</th>
                {% for holiday in holidays %}
                    <tr>
                        <td>{{ holiday['id'] }}</td>
                        <td>{{ holiday['name'] }}</td>
                        <td>{{ holiday['start_date'] }}</td>
                        <td>{{ holiday['end_date'] }}</td>
                        <td>{{ holiday['duration'] }}</td>
                        <td><a href={{ url_for('attendance.holidays', action='delete', holiday_id=holiday['id']) }}>Delete</a></td>
                    </tr>
                {% endfor %}
                <tr><td><a href={{ url_for('attendance.holidays', action='add') }}>Add</a></td></tr>
            </table>
        </div>
    {% endif %}

    {#- {% if type == 'duty_schedule_old' %}
        <div class="form-style-2-heading">Duty schedule</div>
            <form method="post" action="{{ url_for('attendance.duty_schedule', action='query') }}">
                {{ form.csrf_token }}
                <table>
                    <tr>
                        <td>{{ form.month.label }}</td>
                        <td>{{ form.month}}</td>
                        <td>{{ form.year.label }}</td>
                        <td>{{ form.year }}</td>
                        <td></td><td><input type="submit" value="Show" /></td>
                    </tr>
                </table>
                <p><a href={{ url_for('forms.duty_schedule', action='create') }}>Add schedule</a></p>
                <table class="query-result">
                    <th>Id</th>
                    <th>Date</th>
                    <th>Fullname</th>
                    <th>Team</th>
                    <th>Shift</th>
                    <th>Action</th>
                    {% for schedule in schedules %}
                        <tr>
                            <td>{{ schedule['id'] }}</td>
                            <td>{{ schedule['date'] }}</td>
                            <td>{{ schedule['fullname'] }}</td>
                            <td>{{ schedule['team'] }}</td>
                            <td>{{ schedule['shift'] }}</td>
                            <td><a href={{ url_for('attendance.duty_schedule', action='delete', id=schedule['id']) }}>Delete</a></td>
                        </tr>
                    {% endfor %}
                </table>
        </div>
    {% endif %} -#}

    {% if type == 'duty_shift' %}
        <div class="form-style-2-heading">Duty Shift</div>
            <table class="query-result">
                <th>Shift ID</th>
                <th>Team</th>
                <th>Shift</th>
                <th>Start date</th>
                <th>End date</th>
                <th>In time</th>
                <th>Out time</th>
                {% if session['access'] != 'Admin' %}
                    <th>Action</th>
                {% endif %}
                {% for shift in shifts %}
                    <tr>
                        <td>{{ shift['id'] }}</td>
                        <td>{{ shift['team'] }}</td>
                        <td>{{ shift['name'] }}</td>
                        <td>{{ shift['start_date'] }}</td>
                        <td>{{ shift['end_date'] }}</td>
                        <td>{{ shift['in_time'] }}</td>
                        <td>{{ shift['out_time'] }}</td>
                        {% if session['access'] != 'Admin' %}
                            <td><a href={{ url_for('attendance.duty_shift', action='delete', shift_id=shift['id']) }}>Delete</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
            {% if session['access'] != 'Admin' %}
                <p><a href={{ url_for('forms.duty_shift_create') }}>Add shift</a></p>
            {% endif %}
        </div>
    {% endif %}

    {% if type == 'attendance_query' %}
        <div class="form-style-2-heading">Attendance Details</div>
            <p>Name: {{ fullname }}<br>
            Month: {{ form.month.data }}
            Year: {{ form.year.data }}</p>
            {% if attendances %}
                <p>
                    Absent* : {{ attendances['summary']['NI'] + attendances['summary']['NO'] }} &nbsp&nbsp
                    Late: {{ attendances['summary']['L'] }} &nbsp&nbsp
                    Early: {{ attendances['summary']['E'] }} <br><br>
                    *Absent = No In + No Out
                </p>
            {% endif %}
        <table class="query-result">
            <th>Date</th>
            <th>Day</th>
            <th>In Time</th>
            <th>Out Time</th>
            <th>Duty shift</th>
            <th>Application</th>
            <th>Holiday</th>
            {% if attendances %}
                {% for attendance in attendances['attendances'] %}
                    <tr>
                        <td>{{ attendance['date'] }}</td>
                        {% if attendance['day'] in ('Friday', 'Saturday') %}
                            <td class="data-weekend">
                        {% else %}
                            <td>
                        {% endif %}
                                {{ attendance['day'] }}
                            </td>
                        {% if attendance['in_flag'] == 'NI' %}
                            <td class="data-no-attendance">
                        {% elif attendance['in_flag'] == 'L' %}
                            <td class="data-late-early">
                        {% else %}
                            <td>
                        {% endif %}
                            {{ attendance['in_time'] }}
                            </td>

                        {% if attendance['out_flag'] == 'NO' %}
                            <td class="data-no-attendance">
                        {% elif attendance['out_flag'] == 'E' %}
                            <td class="data-late-early">
                        {% else %}
                            <td>
                        {% endif %}
                            {{ attendance['out_time'] }}
                            </td>
                        
                        {% if attendance['duty_shift'] is none %}
                            <td></td>
                        {% else %}
                            <td>{{ attendance['duty_shift'] }}</td>
                        {% endif %}

                        {% if attendance['application_type'] is none %}
                            <td></td>
                        {% else %}
                            <td><a href={{ url_for('application.details', application_id=attendance['application_id']) }}>{{ attendance['application_type'] }}</a></td>
                        {% endif %}
                        
                        {% if attendance['holiday'] is none %}
                            <td></td>
                        {% else %}
                            <td>{{ attendance['holiday'] }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    {% endif %}

    {% if type == 'show_attendance_summary' %}
        <div class="form-style-2-heading">Attendance Summary</div>
            Month: {{ form.month.data }}
            Year: {{ form.year.data }}</p>
        {% if form.download.data %}
            <a href="{{ url_for('attendance.files', name=file) }}">Download</a>
        {% endif %}
        <table class="query-result">
            <th>Name</th>
            <th>Team</th>
            <th>Abset</th>
            <th>Late</th>
            <th>Early</th>
            <th>Holidays inside leaves</th>
            <th>Leave deducted</th>
            <th>Salary deducted</th>
            {% for row in attendance_summary %}
                <tr>
                    <td>{{ row['fullname'] }}</td>
                    <td>{{ row['team'] }}</td>
                    <td>{{ row['absent'] }}</td>
                    <td>{{ row['late'] }}</td>
                    <td>{{ row['early'] }}</td>
                    <td>{{ row['holiday_leave'] }}</td>
                    <td>{{ row['leave_deducted'] }}</td>
                    <td>{{ row['salary_deducted'] }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if type == 'duty_schedule' %}
        <div class="form-style-2-heading">Duty schedule</div>
            <form method="post" action="{{ url_for('attendance.duty_schedule', action='query') }}">
                {{ form.csrf_token }}
                <table>
                    <tr>
                        <td>{{ form.month.label }}</td>
                        <td>{{ form.month}}</td>
                        <td>{{ form.year.label }}</td>
                        <td>{{ form.year }}</td>
                        <td></td><td><input type="submit" value="Show" /></td>
                    </tr>
                </table>
                {% if session['access'] != 'Admin' %}
                    <p>
                        <a href={{ url_for('forms.duty_schedule', action='upload') }}>Upload schedule</a>
                        <a href={{ url_for('forms.duty_schedule', action='delete') }}>Delete schedule</a>
                    </p>
                {% endif %}
                Month: {{ form.month.data}}
                Year: {{ form.year.data }}
                <table class="query-result">
                    <tr>
                        <td></td>
                        <td></td>
                        {% for i in range(month_days) %}
                            <td>{{ i + 1 }}</td>
                        {% endfor %}
                    </tr>
                    {% for schedule in schedules %}
                        <tr>
                            {% for i in schedule %}
                                    <td>{{ i }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
        </div>
    {% endif %}

    {% if type == 'office_time' %}
        <div class="form-style-2-heading">Office time</div>
            <table class="query-result">
                <th>Start date</th>
                <th>End date</th>
                <th>In time</th>
                <th>Out time</th>
                <th>In grace time</th>
                <th>Out grace time</th>
                <th>Action</th>
                {% for office_time in office_times %}
                    <tr>
                        <td>{{ office_time['start_date'] }}</td>
                        <td>{{ office_time['end_date'] }}</td>
                        <td>{{ office_time['in_time'] }}</td>
                        <td>{{ office_time['out_time'] }}</td>
                        <td>{{ office_time['in_grace_time'] }}</td>
                        <td>{{ office_time['out_grace_time'] }}</td>
                        <td><a href={{ url_for('attendance.office_time', action='delete', office_time_id=office_time['id']) }}>Delete</a></td>
                    </tr>
                {% endfor %}
            </table>
                <p><a href={{ url_for('forms.add_office_time') }}>Add office time</a></p>
        </div>
    {% endif %}


{% endblock %}