{% extends "base.html" %}

{% block content %}

    {# --rendering form errors-- #}
    {% if form %}
        {% if form.errors %}
        <ul class="error">
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <li>{{ form[field_name].label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
        {% endif %}
    {% endif %}


    {# --rendering leave forms-- #}
    {% if type == 'leave' %}
        <div class="form-style-2-heading">
            {% if leave == 'Casual' %}
                Leave application - Casual
            {% elif leave == 'Medical' %}
                Leave application - Medical
            {% endif %}
        </div>
            <div class="form-style-2">
                <table>
                    {% if team == 'fiber' %}
                        <form method="post" action="{{ url_for('leave.application_fiber', type=leave) }}" enctype="multipart/form-data">
                    {% else %}
                        <form method="post" action="{{ url_for('leave.application', type=leave) }}" enctype="multipart/form-data"> 
                    {% endif %}    
                    
                    {{ form.csrf_token }}
                    {% if team == 'fiber' %}
                        <tr>
                            <td>{{ form.empid.label }}</td>
                            <td>{{ form.empid }}</td>
                        </tr>
                    {% endif %}
                        
                    <tr>
                        <td>{{ form.start_date.label }}{{ form.start_date }}</td>
                        <td>{{ form.end_date.label }}{{ form.end_date }}</td>
                    </tr>
                
                    <tr>
                        <td colspan="2">{{ form.remark.label }}{{ form.remark }}</td>
                    </tr>
                        
                        
                    {% if leave == 'Casual' %}
                            <tr>
                                <td>{{ form.holiday_duty_type.label }}{{ form.holiday_duty_type }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.holiday_duty_start_date.label }}{{ form.holiday_duty_start_date }}</td>
                                <td>{{ form.holiday_duty_end_date.label }}{{ form.holiday_duty_end_date }}</td>
                            </tr>
                    {% endif %}
                        
                    {% if leave == 'Medical' %}
                        <tr>
                            <td>{{ form.file1.label }}</td>
                            <td>{{ form.file1 }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.file2.label }}</td>
                            <td>{{ form.file2 }}</td>
                        </tr>    
                        <tr>
                            <td>{{ form.file3.label }}</td>
                            <td>{{ form.file3 }}</td>
                        </tr>                                           
                    {% endif %}

                        <tr>
                            <td><input type="submit" value="Submit" /></td>
                    </form>
                </table>          
            </div>
    {% endif %}

    {# --rendering employee create form-- #}
    {% if form_type == 'employee_create' %}
            <div class="form-style-2">
                <form method="post" action="{{ url_for('employee.create') }}">
                    {{ form.csrf_token }}
                    <div class="form-style-2-heading">Create Employee Record</div>
                        <label for="username">
                            <span>{{ form.username.label }}</span>
                                    {{ form.username }}
                        </label>
                        <label for="fullname">
                            <span>{{ form.fullname.label }}</span>
                                {{ form.fullname }}
                        </label>
                        <label for="password">
                            <span>{{ form.password.label }}</span>
                                {{ form.password }}
                        </label>
                        <label for="rpassword">
                            <span>{{ form.rpassword.label }}</span>
                                {{ form.rpassword }}
                        </label>
                        <label for="phone">
                            <span>{{ form.phone.label }}</span>
                                   {{ form.phone }}
                        </label>
                        <label for="email">
                            <span>{{ form.email.label }}</span>
                                {{ form.email }}
                        </label>
                        <label for="join_date">
                            <span>{{ form.joining_date.label }}</span>
                                {{ form.joining_date }}
                        </label>
                        <label for="department">    
                        <span>{{ form.department.label }}</span>
                                {{ form.department }}
                        </label>
                        <label for="designation">    
                            <span>{{ form.designation.label }}</span>
                                    {{ form.designation }}
                            </label>
                        <label for="team">
                            <span>{{ form.team.label }}</span>
                                {{ form.team }}
                        </label>
                        <label for="role">
                            <span>{{ form.role.label }}</span>
                                {{ form.role }}
                        </label>
                        <label for="access">
                            <span>{{ form.access.label }}</span>
                                {{ form.access }}
                        </label>
                        <label>
                            <span> </span>
                            <input type="submit" value="Submit" /></label>
                        </label>
                            
                    </form>
                </div>  
    {% endif %}

    {# --employee delete form-- #}
    {% if form_type == 'employee_delete' %}
            <div class="form-style-2">
                <form method="post" action="{{ url_for('employee.delete') }}">
                    {{ form.csrf_token }}
                    <div class="form-style-2-heading">Delete Employee Record</div>
                        <label for="employee_id">
                            <span>{{ form.empid.label }}</span>
                                {{ form.empid }}
                        </label>
                        <label>
                            <span> </span>
                            <input type="submit" value="Submit" /></label>
                        </label>
    {% endif %}

    {# --employee update form-- #}
    {% if form_type == 'employee_update' %}
            <div class="form-style-2">
                <form method="post" action="{{ url_for('employee.update') }}">
                    {{ form.csrf_token }}
                    <div class="form-style-2-heading">Update Employee Record</div>
                        <label for="employee_id">
                            <span>{{ form.empid.label }}</span>
                                {{ form.empid }}
                        </label>
                        <label for="team">
                            <span>{{ form.team.label }}</span>
                                {{ form.team }}
                        </label>
                        <label>
                            <span> </span>
                            <input type="submit" value="Add" /></label>
                        </label>
    {% endif %}
    
    {# --attendance upload form-- #}
    {% if form_type == 'attendance_upload' %}
            <div class="form-style-2">
                <form method="post" action="{{ url_for('attendance.upload') }}" enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    <div class="form-style-2-heading">Upload attedance file</div>
                        <label for="file">
                            <span>{{ form.file1.label }}</span>
                                {{ form.file1 }}
                        </label>
                        <label>
                            <span> </span>
                            <input type="submit" value="Add" /></label>
                        </label>
    {% endif %}

    {% if type == 'attnquery_self' %}
        <div class="form-style-2">
            <div class="form-style-2-heading">Query attendance record</div>
                <form method="post" action="{{ url_for('attendance.query', query_type='username') }}">
                    {{ form.csrf_token }}
                    <label for="month">
                        <span>{{ form.month.label }}</span>
                            {{ form.month }}
                    </label>
                    <label for="year">
                        <span>{{ form.year.label }}</span>
                            {{ form.year }}
                    </label>
                    <label for="query">
                        <span>{{ form.query.label }}</span>
                            {{ form.query }}
                    </label>
                    <label>
                        <span> </span>
                        <input type="submit" value="Query" /></label>
                    </label>

                </form>
    {% endif %}

    {# --attendance application form-- #}
    {% if type == 'attn_application' %}
            <div class="form-style-2">
                <div class="form-style-2-heading">Attendance Application</div>
                {% if team == 'fiber' %}
                    <form method="post" action="{{ url_for('attendance.application_fiber') }}">
                {% else %}
                    <form method="post" action="{{ url_for('attendance.application') }}"> 
                {% endif %}    
                
                {{ form.csrf_token }}
                <table>
                    {% if team == 'fiber' %}
                        <tr>
                            <td>{{ form.empid.label }}</td>
                            <td>{{ form.empid }}</td>
                        </tr>
                    {% endif %}
                        <tr>
                            <td>{{ form.start_date.label }}</td>
                            <td>{{ form.start_date }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.end_date.label }}</td>
                            <td>{{ form.end_date }}(optional)</td>
                        </tr>
                        <tr>
                            <td>{{ form.type.label }}</td>
                            <td>
                                {% for subfield in form.type %}
                                    {{ subfield }}{{ subfield.label }}
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ form.remark.label }}</td>
                            <td>{{ form.remark }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Submit" /></td>
                        </tr>

                </table>
    {% endif %}

    {# -- attendance summary prepare -- #}
    {% if type == 'attn_prepare_summary' %}
            <div class="form-style-2">
                <form method="post" action="{{ url_for('attendance.prepare_summary') }}">
                    {{ form.csrf_token }}
                    <div class="form-style-2-heading">Prepare Attendance Summary</div>
                    <label for="month">
                        <span>{{ form.month.label }}</span>
                            {{ form.month }}
                    </label>
                    <label for="year">
                        <span>{{ form.year.label }} </span>
                        {{ form.year }}
                    </label>
                    <label>
                        <span> </span>
                        <input type="submit" value="Prepare" /></label>
                    </label>
    {% endif %}

    {# --leave deduction form-- #}
    {% if type == 'leave_deduction' %}
            <div class="form-style-2">
                {% if action == 'reverse' %}
                    <form method="post" action="{{ url_for('leave.reverse_deduction') }}">
                        <div class="form-style-2-heading">Reverse Leave Deduction</div>
                {% else %}
                    <form method="post" action="{{ url_for('leave.deduction') }}">
                        <div class="form-style-2-heading">Process Leave Deduction</div>
                {% endif %}
                    {{ form.csrf_token }}
                    <label for="month">
                        <span>{{ form.month.label }}</span>
                            {{ form.month }}
                    </label>
                    <label for="year">
                        <span>{{ form.year.label }} </span>
                        {{ form.year }}
                    </label>
                    <label>
                        <span> </span>
                        <input type="submit" value="Submit" /></label>
                    </label>
    {% endif %}

    {#-- password change form --#}
    {% if type == 'change_pass' %}
            <div class="form-style-2">
                <form method="post" action="{{ url_for('employee.password_self') }}">
                    {{ form.csrf_token }}
                    <div class="form-style-2-heading">Change Password</div>
                    <label for="month">
                        <span>{{ form.password.label }}</span>
                            {{ form.password }}
                    </label>
                    <label for="year">
                        <span>{{ form.rpassword.label }} </span>
                            {{ form.rpassword }}
                    </label>
                    <label>
                        <span> </span>
                        <input type="submit" value="Submit" /></label>
                    </label>
    {% endif %}

    {% if type == 'annual_leave' %}
            <div class="form-style-2">
                {% if action == 'add' %}
                    <form method="post" action="{{ url_for('leave.add_annual_leave') }}">
                {% elif action == 'update' %}
                    <form method="post" action="{{ url_for('leave.update_leave') }}">
                {% endif %}
                {%if action == 'add' or action == 'update'%}
                    {{ form.csrf_token }}
                {% endif %}
                {% if action == 'add' %}
                    <div class="form-style-2-heading">Add Annual Leave</div>
                {% elif action == 'update' %}
                    <div class="form-style-2-heading">Update Available Leave</div>
                {% elif action == 'delete' %}
                    <div class="form-style-2-heading">Delete Annual Leave</div>
                {% endif %}
                {% if action == 'add' or action == 'update'%}
                    <label>
                        <span>{{ form.fiscal_year_start_date.label }}</span>
                            {{ form.fiscal_year_start_date }}
                    </label>
                    <label>
                        <span>{{ form.fiscal_year_end_date.label }} </span>
                            {{ form.fiscal_year_end_date }}
                    </label>
                    <label>
                        <span> </span>
                        <input type="submit" value="Submit" /></label>
                    </label>
                </form>
                {% elif action == 'delete' %}
                <form method="get" action="{{ url_for('leave.delete_annual_leave') }}">
                    <h3>{{ fiscal_year_start_date}} to {{ fiscal_year_end_date}}</h3>
                    <button type="submit">Delete</button>
                </form>
                {% endif %}
                        
    {% endif %}

    {% if type == 'add_holiday' %}
            <div class="form-style-2">
                <form method="post" action="{{ url_for('attendance.holidays', action='add') }}">
                    {{ form.csrf_token }}
                    <div class="form-style-2-heading">Add holidays</div>
                    <label>
                        <span>{{ form.start_date.label }}</span>
                            {{ form.start_date }}
                    </label>
                    <label>
                        <span>{{ form.end_date.label }} </span>
                            {{ form.end_date }}
                    </label>
                    <label>
                        <span>{{ form.name.label }} </span>
                            {{ form.name }}
                    </label>
                    <label>
                        <span> </span>
                        <input type="submit" value="Add" /></label>
                    </label>
    {% endif %}

    {% if type == 'duty_schedule' %}
        <div class="form-style-2">
            {% if action == 'query' %}
                <form method="post" action="{{ url_for('attendance.duty_schedule', action='query') }}">
                    {{ form.csrf_token }}
                    <div class="form-style-2-heading">Query duty schedule</div>
            {% elif action == 'upload' %}
                    <form method="post" action="{{ url_for('attendance.duty_schedule', action='upload') }}" enctype="multipart/form-data">
                        {{ form.csrf_token }}
                        <div class="form-style-2-heading">Upload duty schedule</div>
            {% elif action == 'delete' %}
                <form method="post" action="{{ url_for('attendance.duty_schedule', action='delete') }}">
                    {{ form.csrf_token }}
                    <div class="form-style-2-heading">Delete duty schedule</div>
            {% endif %}
                
                    <table>
                        <tr>
                            <td> {{ form.month.label }}</td>
                            <td> {{ form.month}}</td>
                        </tr>
                        <tr>
                            <td>{{ form.year.label }}</td>
                            <td>{{ form.year }}</td>
                        </tr>
                        {% if action == 'delete' %}
                            <tr>
                                <td>{{ form.teams.label }}</td>
                                <td>{{ form.teams }}</td>
                            </tr>
                        {% endif %}
                        {% if action == 'upload' %}
                            <tr>
                                <td></td>
                                <td><a href= {{ url_for('attendance.files', name='duty_schedule_sample.xls') }}>Download sample file</a></td>
                            </tr>
                            <tr>
                                <td>{{ form.file.label }}</td>
                                <td>{{ form.file }}</td>
                            </tr>
                        {% endif %}
                        
                    </table>
                    <label>
                        <span> </span>
                        <input type="submit" value="Submit" /></label>
                    </label>
    {% endif %}

    {% if type == 'duty_shift_create' %}
        <form method="post" action="{{ url_for('attendance.duty_shift', team=team, action='create') }}">
            {{ form.csrf_token }}
    
        <div class="form-style-2-heading">Create duty shift</div>
        <table>
            <tr><td> {{ form.team.label }}</td><td> {{ form.team}}</td></tr>
            <tr><td> {{ form.shift_name.label }}</td><td> {{ form.shift_name}}</td></tr>
            <tr><td>{{ form.in_time.label }}</td><td>{{ form.in_time }}</td><td>{{ form.out_time.label }}</td><td>{{ form.out_time }}</td></tr>
            <tr><td>{{ form.start_date.label }}</td><td>{{form.start_date}}</td><td>{{form.end_date.label}}</td><td>{{form.end_date}}</td></tr>
            <tr><td></td><td><input type="submit" value="Add" /></td></tr> 
        </table>
        <p class="footnote">Note: Create default shift keeping start date and end date blank</p>
    {% endif %}

    {% if type == 'attendance_query' %}
        <div class="form-style-2">
                <div class="form-style-2-heading">Attendance query</div>
                    <form method="post" action="{{ url_for('attendance.query', query_for=query_for) }}">
                        {{ form.csrf_token }}
                        {% if query_for != 'self' %}
                            <label for="username">
                                <span>{{ form.fullname.label }}</span>
                                    {{ form.fullname }}
                            </label>
                        {% endif %}
                        <label for="month">
                            <span>{{ form.month.label }}</span>
                                {{ form.month }}
                        </label>
                        <label for="year">
                            <span>{{ form.year.label }}</span>
                                {{ form.year }}
                        </label>
                        <label>
                            <span> </span>
                            <input type="submit" value="Query" /></label>
                        </label>
                    </form>
        </div>
    {% endif %}

    {% if type == 'search_application' %}
            <div class="form-style-2-heading">Search Applications</div>
                {% if application_for=='self' %}
                    <form method="post" action="{{ url_for('application.search', application_for='self') }}">
                {% endif %} 
                {% if application_for=='team' %}
                    <form method="post" action="{{ url_for('application.search', application_for='team') }}">
                {% endif %}
                {% if application_for=='department' %}
                    <form method="post" action="{{ url_for('application.search', application_for='department') }}">
                {% endif %}
                {% if application_for=='all' %}
                    <form method="post" action="{{ url_for('application.search', application_for='all') }}">
                {% endif %} 

                {{ form.csrf_token }}
                        <table>
                            <tr>
                                {% if application_for != 'self' %}
                                    <td>{{ form.name.label }}</td><td>{{ form.name }}</td>
                                {% endif %}
                                <td>{{ form.type.label }}</td><td>{{ form.type }}</td>
                                <td>{{ form.month.label }}</td><td>{{ form.month }}</td>
                                <td>{{ form.year.label }}</td><td>{{ form.year }}</td>
                                <td></td><td><input type="submit" value="Search" /></td>
                            </tr>
                        </table>
                            
                    </form>
    {% endif %}

    {% if type == 'attendance_summary' %}
            <div class="form-style-2">
                {% if action == 'prepare' %}
                    <form method="post" action="{{ url_for('attendance.summary', action='prepare') }}">
                    <div class="form-style-2-heading">Prepare Attendance Summary</div>
                {% elif action == 'delete' %}
                    <form method="post" action="{{ url_for('attendance.summary', action='delete') }}">
                    <div class="form-style-2-heading">Delete Attendance Summary</div>
                {% endif %}

                {{ form.csrf_token }}
                    <label for="month">
                        <span>{{ form.month.label }}</span>
                            {{ form.month }}
                    </label>
                    <label for="year">
                        <span>{{ form.year.label }} </span>
                        {{ form.year }}
                    </label>
                    <label>
                        <span> </span>
                        <input type="submit" value="Submit" /></label>
                    </label>
    {% endif %}

    {% if type == 'show_attendance_summary' %}
            <div class="form-style-2">
                <form method="post" action="{{ url_for('attendance.summary', action='show', summary_for=summary_for) }}">
                    {{ form.csrf_token }}
                    <div class="form-style-2-heading">Show Attendance Summary</div>
                    <table>
                        <tr>
                            <td>{{ form.month.label }}</td>
                            <td>{{ form.month }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.year.label }}</td>
                            <td>{{ form.year }}</td>
                        </tr>
                        {% if summary_for == 'all' %}
                            <tr>
                                <td>{{ form.download.label }}</td>
                                <td>{{ form.download }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td></td>
                            <td> <input type="submit" value="Show" /></td>
                        </tr>
                    </table>
                </form>
            </div>        
    {% endif %}

    {% if type == 'application' %}
        <div class="form-style-2-heading">
            {% if application_type == 'casual' %}
                Leave application - Casual
            {% elif application_type == 'medical' %}
                Leave application - Medical
            {% elif application_type == 'attendance' %}
                Attendance application
            {% elif application_type == 'fiber_casual' %}
                Leave application fiber - Casual
            {% elif application_type == 'fiber_medical' %}
                Leave application fiber - Medical
            {% elif application_type == 'fiber_attendance' %}
                Attendance application fiber
            {% endif %}
        </div>
            <div class="form-style-2">
                <table>
                    <form method="post" action="{{ url_for('application.submit', application_type=application_type) }}" enctype="multipart/form-data">                     
                    {{ form.csrf_token }}
                    {% if application_type in ('fiber_casual', 'fiber_medical', 'fiber_attendance') %}
                        <tr>
                            <td>{{ form.empid.label }}</td>
                            <td>{{ form.empid }}</td>
                        </tr>
                    {% endif %}  
                    <tr>
                        <td>{{ form.start_date.label }}{{ form.start_date }}</td>
                        <td>{{ form.end_date.label }}{{ form.end_date }}</td>
                    </tr>
                    {% if application_type in ('attendance', 'fiber_attendance') %}
                        <tr>
                            <td>{{ form.type.label }} {{ form.type }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td colspan="2">{{ form.remark.label }}{{ form.remark }}</td>
                    </tr>
                    {% if application_type in ('casual', 'fiber_casual') %}
                            <tr>
                                <td>{{ form.holiday_duty_type.label }}{{ form.holiday_duty_type }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.holiday_duty_start_date.label }}{{ form.holiday_duty_start_date }}</td>
                                <td>{{ form.holiday_duty_end_date.label }}{{ form.holiday_duty_end_date }}</td>
                            </tr>
                    {% endif %}
                    {% if application_type in ('medical', 'fiber_medical') %}
                        <tr>
                            <td>{{ form.file1.label }}</td>
                            <td>{{ form.file1 }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.file2.label }}</td>
                            <td>{{ form.file2 }}</td>
                        </tr>    
                        <tr>
                            <td>{{ form.file3.label }}</td>
                            <td>{{ form.file3 }}</td>
                        </tr>                                           
                    {% endif %}

                        <tr>
                            <td><input type="submit" value="Submit" /></td>
                    </form>
                </table>          
            </div>
    {% endif %}

    {% if type == 'add_office_time' %}
            <div class="form-style-2">
                <form method="post" action="{{ url_for('attendance.office_time', action='add') }}">
                    {{ form.csrf_token }}
                    <div class="form-style-2-heading">Add office time</div>
                    <table>
                        <tr>
                            <td>{{ form.start_date.label }}</td><td>{{ form.start_date }}</td>
                            <td>{{ form.end_date.label }}</td><td>{{ form.end_date }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.in_time.label }}</td><td>{{ form.in_time }}</td>
                            <td>{{ form.out_time.label }}</td><td>{{ form.out_time }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.in_grace_time.label }}</td><td>{{ form.in_grace_time }}</td>
                            <td>{{ form.out_grace_time.label }}</td><td>{{ form.out_grace_time }}</td>
                        </tr>
                        
                        <tr>
                            <td></td>
                            <td> <input type="submit" value="Add" /></td>
                        </tr>
                    </table>
                </form>
            </div>        
    {% endif %}

    {% if type == 'delete_attendance' %}
        <div class="form-style-2">
            <form method="post" action="{{ url_for('attendance.delete_attendance') }}">
                {{ form.csrf_token }}
                <div class="form-style-2-heading">Delete Attendance</div>
                <table>
                    <tr>
                        <td>{{ form.start_date.label }}</td><td>{{ form.start_date }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.end_date.label }}</td><td>{{ form.end_date }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td> <input type="submit" value="Delete" /></td>
                    </tr>
                </table>
            </form>
        </div>
    {% endif %}
            

{% endblock %}